<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="false">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="debug"/>
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern"
				value="%d %t %-5p %c %X{login} %m%n" />
		</layout>
	</appender>
<!--
	<logger name="org.springframework.data.document.mongodb">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
 -->
	
	<root>
		<level value="info" />
		<appender-ref ref="console" />
	</root>


</log4j:configuration>